.image-popup__container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 350px;
    margin: 0;
}

@media screen and (min-width:1024px){
    .image-popup__container {
        justify-self: center;
        align-self: center;
    }
    
}