.popup__container {
    min-height: 358px;
    max-width: 282px;
    width: 100%;
    display: flex;
    position: relative;
}

@media screen and (min-width:1024px) {
    .popup__container {
        max-width: 470px;
        width: 100%;
        min-height: 370px;
    }
}