.popup__container {
    min-height: 358px;
    max-width: 282px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 26.5%;
}

@media screen and (min-width:1024px) {
    .popup__container {
        max-width: 470px;
        width: 100%;
        min-height: 370px;
        margin-top: 12.5%;
        margin-left: 4%;
    }
}