.profile {
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width:768px) {
    .profile {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .profile {
        width: 80%;
    }

}

@media screen and (min-width: 1280px) {
    .profile {
        width: 68.75%;
    }
}