.popup__form-set {
   margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}