.popup__content {
    background-color: #fff;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 282px;
    width: 100%;
    max-height: 322px;
    display: flex;
    flex-direction: column;
    margin-top: 5.677%;
}

@media screen and (min-width:1024px) {
    .popup__content {
        max-width: 430px;
        min-height: 330px;
        width: 100%;
        margin-top: 1%;
    }
}