.add-button {
    all: unset;
    width: 88.125%;
    max-width: 282px;
    min-height: 50px;
    transition: 0.5s ease-in;
    background-image: url(../../images/ForAddButton.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    border: 2px solid #fff;
    margin: 9.5% auto 0;
    box-sizing: border-box;

}

.add-button:hover {
    cursor: pointer;
    opacity: .6;
}


@media screen and (min-width:768px) {
    .add-button {
        max-width: 150px;
        max-height: 50px;
        background-size: 22px 22px;
        margin: 8.5% 0 0;

    }
}