.group__rectangle_active {
    all: unset;
    width: 22px;
    height: 19px;
    align-self: center;
    background-image: url(../../../../images/LikeActive.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}