.element__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    min-width: 282px;
    min-height: 282px;
    max-height: 282px;
    justify-self: center;
    margin: 0;
    overflow: hidden;
    transition: 0.3s opacity ease;
    z-index: 1;
}

.element__image:hover {
    cursor: pointer;
    opacity: 0.8;
}