.popup__field-error_active {
    font-size: 0.75rem;
    color: rgba(255, 0, 0, 1);
    font-weight: 400;
    line-height: 0.9rem;
    max-width: 238px;
    width: 83,26%;
    text-align: left;
    margin: 0 0 0 22px;
   min-height: 22px;
    margin: 0;
    letter-spacing: 0;
    position: absolute;
    top: 22px;
    left: 0;
}

@media screen and (min-width:1024px) {
    .popup__field-error_active {
        max-width: 358px;
        margin-left: 36px;
    }
}