.info {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .info {
        align-self: center;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .info {
        align-self: center;
        width: 100%;
    }
}