.info__position {
    display: flex;
    flex-direction: row;
    margin: 0;
}

@media screen and (min-width:352px) {
    .info__position {

        margin: 0 auto;
    }
}

@media screen and (min-width:767px) {
    .info__position {
        max-width: 280px;
        margin: 0;
    }
}

@media screen and (min-width:1024px) {
    .info__position {
        max-width: 500px;
    }
}