.element__delete-btn {
    all: unset;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-size: 100% 100%;
    background-image: url(../../../images/Trash.svg);
    transition: 0.5s ease-in;
    z-index: 2;
}

.element__delete-btn:hover {
    opacity: .6;
    cursor: pointer;
}