.popup__edit-btn_disabled {
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    opacity: .2;
}

.popup__edit-btn_disabled:hover {
    cursor: auto;
    opacity: .2;
}

.popup__edit-btn_disabled:active {
    opacity: .2;
}