.popup__edit-btn {
    all: unset;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.05883rem;
    text-align: center;
    transition: 0.5s ease-in;
    border-radius: 2px;
    margin: 45px 22px 25px;
}

.popup__edit-btn:hover {
    opacity: .8;
    cursor: pointer;
}

.popup__edit-btn:active {
    opacity: 1;
}

@media screen and (min-width: 1024px) {
    .popup__edit-btn {
        min-width: 358px;
        margin: 35px auto 38px;
        font-size: 1.125rem;
        line-height: 1.3613rem;
    }

}